@{

}
@model List<Product>

<table class="table table-stripped">
    <thead>

        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Category</th>
            <th>CreatedDate</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                <td>@product.Category.Name</td>
                <td>@product.CreateDate</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = product.Id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Delete", "Delete", new { id = product.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
